body 
{
    background-color:white;
    font-family:Arial, Helvetica, sans-serif;
}
.card {
    width:300px;
    background-color:black;
    padding:39px;
    margin:48px;
    border-radius:10px;
    text-align:center;
}
.card h1
{
    color:blueviolet;
    text-align:center;
}
.card p {
    font-size:10px;
    line-height:1.6;
    color:aliceblue;

}
.card a{
    display:inline-block;
    margin-top: 15px;
    text-decoration:none;
    color:aqua;
    background-color:beige;
    padding:10px 20px;
    border-radius:5px;
}
.card a:hover {
    background-color:yellow;
}
